@model QL_ThuVIenHUIT_13.Models.PHIEU_MUONPHONG

@{
    ViewBag.Title = "Xem phiếu đặt phòng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Xem trước phiếu</h2>

@if (ViewBag.Loi != null)
{
    <p style="color:red">@ViewBag.Loi</p>
}

<table border="1" cellpadding="5">
    <tr><td>Mã thẻ</td><td>@Model.MATHE</td></tr>
    <tr><td>Phòng</td><td>@Model.MAPH</td></tr>
    <tr><td>Ngày</td><td>@Model.NGAYMUON?.ToString("dd/MM/yyyy")</td></tr>
    <tr><td>Giờ</td><td>@Model.GIOMUON - @Model.GIOTRA</td></tr>
    <tr><td>Số người</td><td>@Model.SL_NGUOITHAMGIA</td></tr>
    <tr><td>Mục đích</td><td>@Model.MUCDICH</td></tr>
</table>

@using (Html.BeginForm("XacNhan", "Phong", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.MATHE)
    @Html.HiddenFor(m => m.MAPH)
    @Html.HiddenFor(m => m.NGAYMUON)
    @Html.HiddenFor(m => m.GIOMUON)
    @Html.HiddenFor(m => m.GIOTRA)
    @Html.HiddenFor(m => m.SL_NGUOITHAMGIA)
    @Html.HiddenFor(m => m.MUCDICH)

    <br />
    <button type="submit">Xác nhận đặt phòng</button>
}
